<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Detail</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
     id="page-header">
    <a class="my-0 mr-md-auto text-dark" href="/">Home</a>

    <span class="p-2 text-dark">
        <span sec:authentication="name"></span> 님 환영합니다.
    </span>
    <span class="p-2 text-dark" th:text="'방문시각 : '+${session['visitTime']}">Visit</span>
    <span class="p-2 text-dark" th:text="'사용시간 : '+${session['useTime']}">Use</span>
    <form action="/account/logout" th:action="@{/account/logout}" th:method="post">
        <button class="btn btn-outline-danger" type="submit">Logout</button>
    </form>
</div>

<div class="card border-danger mb-3" id="page-message" th:if="${message}">
    <div class="card-body text-danger">
        <h5 class="card-title">Message</h5>
        <p class="card-text" th:text="${message}"></p>
    </div>
</div>
<div class="container" id="page-content">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Board Info</h1>
    </div>

    <form th:action="@{/board/update/{boardId}(boardId=${board.getBoardId()})}" th:method="post" th:object="${board}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">Title</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="title" name="title" readonly th:value="*{getTitle()}"
                       type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="content">content</label>
            <div class="col-sm-10">
                <input class="form-control" id="content" name="content" th:value="*{getContent()}" type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="createdBy">Created By</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="createdBy" name="createdBy" readonly
                       th:value="*{getCreatedBy()}"
                       type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="createDate">Create Date</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="createDate" name="createDate" readonly
                       th:value="*{getCreateDate()}"
                       type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="lastModifiedBy">Update By</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="lastModifiedBy" name="lastModifiedBy" readonly
                       th:value="*{getLastModifiedBy()}"
                       type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="lastModifiedDate">Update Date</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="lastModifiedDate" name="lastModifiedDate" readonly
                       th:value="*{getLastModifiedDate()}"
                       type="text">
            </div>
        </div>

        <div th:if="${board.getCreatedBy()== #authentication.getPrincipal().getUsername()}">
            <button class="btn btn-warning" type="submit">게시글 수정</button>
            <a class="btn btn-danger" role="button"
               th:href="@{/board/delete/{boardId}(boardId=${board.getBoardId()})}">게시글 삭제</a>
        </div>
        <div th:if="${board.getCreatedBy()!= #authentication.getPrincipal().getUsername()}">
            <a class="btn btn-dark" role="button"
               th:href="@{/idiot/{idiotId}/board/{boardId}/(idiotId=${board.getCreatedBy()},boardId=${board.getBoardId()})}">게시글
                신고</a>
        </div>
    </form>
    <hr/>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-4">Comments</h3>
    </div>
    <div th:unless="${#lists.isEmpty(comments)}">
        <ul th:each="comment: ${comments}">
            <form th:action="@{/comment/update/{commentId}(commentId=${comment.getCommentId()})}"
                  th:method="post">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:name="userId" th:text="${comment.getCreatedBy()}">Card
                            title</h5>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input class="form-control" name="comment"
                                       th:if="${comment.getCreatedBy()== #authentication.getPrincipal().getUsername()}"
                                       th:value="${comment.getContent()}"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input class="form-control-plaintext" name="comment"
                                       th:if="${comment.getCreatedBy() != #authentication.getPrincipal().getUsername()}"
                                       th:value="${comment.getContent()}">
                            </div>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted" th:name="createDate"
                            th:text="'생성: '+${comment.getCreateDate()}">Card subtitle</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:name="createDate"
                            th:text="'수정: '+${comment.getLastModifiedDate()}">Card subtitle</h6>

                        <input class="form-control" name="boardId" th:value="${board.getBoardId()}" type="hidden">

                        <button class="btn btn-warning"
                                th:if="${comment.getCreatedBy() == #authentication.getPrincipal().getUsername()}" type="submit">댓글 수정
                        </button>
                        <a class="btn btn-danger"
                           th:href="@{/comment/delete/{commentId}/board/{boardId}(commentId=${comment.getCommentId()},boardId=${comment.getBoardId()})}"
                           th:if="${comment.getCreatedBy() == #authentication.getPrincipal().getUsername() ||
                           board.getCreatedBy() == #authentication.getPrincipal().getUsername() }">댓글
                            삭제</a>
                        <a class="btn btn-dark"
                           th:href="@{/idiot/{accountId}/comment/{commentId}(commentId=${comment.getCommentId()},accountId=${comment.getCreatedBy()})}"
                           th:if="${comment.getCreatedBy() != #authentication.getPrincipal().getUsername()}">댓글 신고</a>
                    </div>
                </div>
            </form>

        </ul>
    </div>
    <div style="text-align: center" th:if="${#lists.isEmpty(comments)}">
        <td colspan="3" style="text-align: center">조회된 결과가 없습니다.</td>
    </div>
    <hr/>
    <form action="#" th:action="@{/comment/create}" th:method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="comment">content</label>
            <div class="col-sm-10">
                <input class="form-control" id="comment" name="comment" placeholder="댓글을 입력하세요" required type="text">
            </div>
            <input class="form-control" name="boardId" th:value="${board.getBoardId()}" type="hidden">
        </div>
        <button class="btn btn-success" type="submit">댓글 달기</button>
    </form>

    <hr/>
    <button class="btn btn-primary" onclick="location.href='/board/list'" type="button">게시글 목록</button>

</div>
</body>
</html>