<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
     id="page-header">
    <a class="my-0 mr-md-auto text-dark" href="/">Home</a>

    <span class="p-2 text-dark">
        <span sec:authentication="name"></span> 님 환영합니다.
    </span>
    <span class="p-2 text-dark" th:text="'방문시각 : '+${session['visitTime']}">Visit</span>
    <span class="p-2 text-dark" th:text="'사용시간 : '+${session['useTime']}">Use</span>

    <form action="/account/logout" th:action="@{/account/logout}" th:method="post">
        <button class="btn btn-outline-danger" type="submit">Logout</button>
    </form>
</div>

<div class="card border-danger mb-3" id="page-message" th:if="${message}">
    <div class="card-body text-danger">
        <h5 class="card-title">Message</h5>
        <p class="card-text" th:text="${message}"></p>
    </div>
</div>
<div class="container" id="page-content">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">User Info</h1>
    </div>

    <form th:action="@{/account/detail}" th:method="post" th:object="${account}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id">Id</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="id" name="id" readonly th:value="*{getId()}"
                       type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="password">New Password</label>
            <div class="col-sm-10">
                <input class="form-control" id="password" name="password" placeholder="새 비밀번호 입력" required
                       type="password"
                       value="">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Name</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="name" name="name"
                       readonly
                       th:value="*{getName()}" type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="age">Age</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="age" name="age"
                       readonly
                       th:value="*{getAge()}" type="number">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="eMail">E-Mail</label>
            <div class="col-sm-10">
                <input class="form-control" id="eMail" name="eMail" th:value="*{getEMail()}"
                       type="email">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="createdDate">Created Date</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="createdDate" name="createdDate"
                       readonly
                       th:value="*{getCreatedDate()}" type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="lastModifiedDate">Update Date</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="lastModifiedDate" name="lastModifiedDate"
                       readonly
                       th:value="*{getLastModifiedDate()}" type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idiotCount">신고 누적</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" id="idiotCount" name="idiotCount"
                       readonly
                       th:value="*{getIdiotCount()}" type="number">
            </div>
        </div>

        <button class="btn btn-warning" type="submit">수정</button>
        <a class="btn btn-danger" role="button" th:href="@{/account/delete/{accountId}(accountId=${account.getId()})}">삭제</a>
    </form>

    <hr/>

    <button class="btn btn-primary" onclick="location.href='/'" type="button">Home</button>

</div>
</body>
</html>