<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
     id="page-header">
    <a class="my-0 mr-md-auto text-dark" href="/">Home</a>
    <a class="btn btn-outline-primary" href="/account/loginPage">Login</a>
</div>

<div class="card border-danger mb-3" id="page-message" th:if="${message}">
    <div class="card-body text-danger">
        <h5 class="card-title">Message</h5>
        <p class="card-text" th:text="${message}"></p>
    </div>
</div>

<div class="container" id="page-content">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Sign Up</h1>
    </div>

    <form th:action="@{/account/signUp}" th:method="post">
        <div class="form-group">
            <label for="id">Id</label>
            <input class="form-control" id="id" name="id" placeholder="Enter Id" required type="text">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" name="password" placeholder="Password" required type="password">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" placeholder="Enter Name" required type="text">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input class="form-control" id="age" name="age" placeholder="Enter age" required type="number">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input aria-describedby="emailHelp" class="form-control" id="email" name="eMail" placeholder="Enter email"
                   required type="email">
            <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
        </div>
        <button class="btn btn-primary" data-target="#exampleModalCenter" data-toggle="modal" type="submit">Submit
        </button>
        <button class="btn btn-danger" type="reset">Reset</button>
    </form>
</div>
</body>
</html>