<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Page</title>
</head>
<body>
<h1>Detail Page</h1>
<div th:if="${message}">
    <h4 th:text="'message : ' + ${message}"></h4>
</div>
<form action="#" method="post" th:action="@{/update/{boardId}(boardId=${board.getBoardId()})}">
    <div id="board-info" th:object="${board}">
        <h3>board info</h3>
        <p>
            title : <input name="title" th:value="*{getTitle()}"></p>
        <p>
            content : <input name="content" style="width: 50%" th:type="text" th:value="*{getContent()}"></p>
        <p th:name="createdBy" th:text="'createdBy : ' + *{getCreatedBy()}"></p>
        <p th:name="createDate" th:text="'createDate : ' + *{getCreateDate()}"></p>
        <p th:name="lastModifiedBy" th:text="'lastModifiedBy : ' + *{getLastModifiedBy()}"></p>
        <p th:name="lastModifiedDate" th:text="'lastModifiedDate : ' + *{getLastModifiedDate()}"></p>
        <input th:value="수정" type="submit">
    </div>
</form>
<hr/>
<h3>comments</h3>
<div th:unless="${#lists.isEmpty(board.getComments())}">
    <ul th:each="comment: ${board.getComments()}">
        <form th:action="@{/update/{boardId}/comment/{commentId}(commentId=${comment.getCommentId()},boardId=${board.getBoardId()})}"
              th:method="post">
            <p th:text="'사용자 : ' + ${comment.getUserId()}"></p>
            <p>comment : <input name="content" th:value="${comment.getContent()}"></p>
            <p th:text="'createdBy : ' + ${comment.getCreatedBy()}"></p>
            <p th:text="'createDate : ' + ${comment.getCreateDate()}"></p>
            <p th:text="'lastModifiedBy : ' + ${comment.getLastModifiedBy()}"></p>
            <p th:text="'lastModifiedDate : ' + ${comment.getLastModifiedDate()}"></p>
            <input th:value="수정" type="submit">
        </form>
        <a th:href="@{/delete/{boardId}/comment/{commentId}(boardId=${board.getBoardId()},commentId=${comment.getCommentId()})}">comment
            삭제</a>
        <hr/>
    </ul>
</div>
<form action="#" th:action="@{/comment/{boardId}(boardId=${board.getBoardId()})}" th:method="post">
    <input name="content" type="text">
    <input type="submit">
</form>

<hr/>
<button onclick="location.href='/list'" type="button">목록</button>
<a th:href="@{/delete/{boardId}(boardId=${board.getBoardId()})}">게시글 삭제</a>
</body>
</html>