<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

<h1>Board Example</h1>

<p>
<button type="button" onclick="location.href='/list'">게시판 목록</button>
</p>
<p th:if="${session['account']}">
    <button type="button" onclick="location.href='/account/logout'">로그아웃</button>
</p>
<p th:if="!${session['account']}">
    <button type="button" onclick="location.href='/account/login'">로그인</button>
</p>
</body>
</html>