<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="my-0 mr-md-auto text-dark" href="/">Home</a>

    <nav class="my-2 my-md-0 mr-md-3" th:if="${session['id']}">
        <span class="p-2 text-dark" th:text="${session['id']}+'님 환영합니다.'">Id</span>
        <span class="p-2 text-dark" th:text="'방문시각 : '+${session['visitTime']}">Visit</span>
        <span class="p-2 text-dark" th:text="'사용시간 : '+${session['useTime']}">Use</span>
    </nav>

    <div th:if="${session['id']}">
        <a class="btn btn-outline-danger" href="/account/logout" role="button">Logout</a>
    </div>
    <div th:if="!${session['id']}">
        <a class="btn btn-outline-primary" href="/account/login" role="button">Login</a>
        <a class="btn btn-outline-success" href="/account/signUp" role="button">Sign up</a>
    </div>
</div>

<div class="card border-danger mb-3" th:if="${message}">
    <div class="card-body text-danger">
        <h5 class="card-title">Message</h5>
        <p class="card-text" th:text="${message}"></p>
    </div>
</div>

<div class="container">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Board List</h1>
    </div>

    <table class="table table-striped" style="text-align: center">
        <thead class="thead-dark">
        <tr>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성 날짜</th>
            <th scope="col">수정 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board: ${boards}" th:unless="${#lists.isEmpty(boards)}">
            <td>
                <a th:href="@{/detail/{boardId}(boardId=${board.getBoardId()})}" th:text="${board.getTitle()}"></a>
            </td>
            <td th:text="${board.getCreatedBy()}"></td>
            <td th:text="${board.getCreateDate()}"></td>
            <td th:text="${board.getLastModifiedDate()}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(boards)}">
            <td colspan="4" style="text-align: center">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>

    <div aria-label="Basic example" class="btn-group" role="group">
        <button class="btn btn-primary" onclick="location.href='/'" type="button">HOME</button>
        <button class="btn btn-success" onclick="location.href='/create'" type="button">게시글 생성</button>
        <button class="btn btn-danger" onclick="location.href='/account/logout'" type="button">로그아웃</button>
    </div>
</div>
</body>

</html>