<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h2>Login</h2>

<div th:if="${message}">
    <h4 th:text="${message}"></h4>
</div>
<form action="/account/login" method="post">
    <p>
        <input name="id" placeholder="id를 입력하세요" required type="text"/>
    </p>
    <p>
        <input name="password" placeholder="pw를 입력하세요." required type="text"/>
    </p>
    <button type="submit">로그인</button>
</form>

<hr/>
<button onclick="location.href='/account/signUp'" type="button">회원가입</button>

</body>
</html>